@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header_pic{
    background: url("../img/sec1_bg.jpg") no-repeat center center / cover;
}
/* header */
.header{
    padding: 65px 0 65px;
}
.header_wrapper{
    display: flex;
    align-items: center;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_menu{
    display: flex;
}
.logo{
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
}
.logo:hover{
    transform: scale(1.02);
}
.header_menu_link{
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.header_menu li{
    margin-right: 86px;
}
.header_menu li:first-child{
    margin-right: 69px;
}
.header_menu li:last-child{
    margin-right: 0;
}
.header_menu_user{
    display: flex;
    align-items: center;
}
.header_menu_user a{
    margin-right: 26px;
}
.header_menu_user a:last-child{
    margin-right: 0;
}
.header_menu_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 36px;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
}
.header_menu_login:hover{
    width: 132px;
    height: 36px;
    border-radius: 30px;
    background-color: #fff;
    color: #BB6DF3;
}
/* info */
.info{
    padding: 90px 0 43px 0;
}
.info_wrapper{
    display: flex;
    align-items: center;
}
.info_texts{
    width: 579px;
}
.info_texts hr{
    background-color: #3B668D;
    width: 506px;
}
.info_title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 72px;
    color: #3B668D;
    text-transform: uppercase;
    line-height: 70px;
    margin-bottom: 9px;
    width: 507px;
}
.info_subtitle{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    color: #3B668D;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    line-height: 36px;
}
.info_pretitletext{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 26px;
    color: #3B668D;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 13px;
}
.info_text{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.075em;
    width: 475px;
    color: #2B4964;
    margin-bottom: 25px;
    line-height: 28px;
}
.info_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 79px;
    font-family: "Comfortaa";
    font-size: 24px;
    color: #fff;
    border-radius: 45px;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #5AC4FF 0%, #B250FF 100%);
    transition: 0.3s;
}
